#input_infor{
    gap: 15px;
}
.choose{
    display:flex;
    align-items: center;
}
.dropdown{
    box-sizing: border-box;
}
.select {
    background: #f8f8f8;
    color: #000;
    border: 0.5px solid;
    padding: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.select-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #24689a;
}
.select:hover{
    background: #aeafaf;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #cbcbcb;
    transition: 0.3s;
} 
.button{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}